@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --color-primary: #ff7a00; /* Primary color for buttons and links */
    --color-secondary: #182978; 
    --btn-hover:var(--color-text); 
    --color-background: #f4f4f4; 
    --color-header: #ffffff;
    --color-text: #333; 
    --font-family: 'Inter', sans-serif; 
    --font-size-base: 16px; 
    --font-size-large: 24px;
    --font-size-small: 12px; 
}