/* ---------------Hero Section Start-------------------*/
.hero {
  margin-top: 98px;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 5%;
  color: white;
}

.hero-content {
  max-width: 500px;
}

.hero .hero-title h1 {
  color: white;
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 800;
  text-transform: capitalize;
  width: 800px;
  text-align: left;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* ---------------Hero Section End-------------------*/
/*----------------services section start*/
.services {
  text-align: center;
  padding: 60px 20px;
  background: #fff;
  font-family: sans-serif;
}

.section-header .tagline {
  color: #007bff;
  font-size: 14px;
  margin-bottom: 10px;
}

.section-header h2 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: bold;
}

.section-header .subheading {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  background: #fff;
  width: 300px;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
  transition: all 0.3s ease;
  color: #111;
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #111;
  transition: color 0.3s;
}

.service-card p {
  font-size: 14px;
  color: #555;
  transition: color 0.3s;
}

.service-card .icon {
  width: 60px;
  height: 60px;
  background: #fcefe6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.service-card .icon i {
  width: 30px;
  height: 30px;
  filter: none;
  transition: filter 0.3s;
}
.service-card:hover {
  background-color: #0d1b4c;
  color: #fff;
}

.service-card:hover h3,
.service-card:hover p {
  color: #fff;
}

.service-card:hover .icon {
  background-color: rgba(255, 255, 255, 0.15);
}

.service-card:hover .icon img {
  filter: brightness(0) invert(1);
}

.read-more {
  color: #ff7300;
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
}
.read-more span {
  margin-left: 5px;
}
/*--------------------------services End-------------------------------*/

/*-------------------------About section start-------------------*/
.about {
  padding: 60px 20px;
  background-color: #f4f7fa;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
  min-width: 300px;
}

.subtitle {
  color: #0066cc;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.about-content h2 {
  font-size: 32px;
  color: #222;
  margin: 0 0 20px;
}

.about-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.features {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.feature-box {
  background: #ffffff;
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  color: #333;
}

.note-box {
  background: #ffffff;
  padding: 15px 20px;
  border-left: 4px solid #3366ff;
  margin-bottom: 25px;
  color: #444;
  font-style: italic;
}

.btn {
  display: inline-block;
  background-color: #ff7900;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
/*-------------------------About section start-------------------*/
/*------------Registration form start------------*/
.reg,
.edit-profile,
.deposits-main,
.card-management,
.bill-pay-main,
.loan,
.cardApply,
.changePassword,
.addUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}
.regContainer,
.editProfileContainer,
.deposit-container,
.bill-pay-container,
.card-management-container,
.loanContainer,
.cardApplyContainer,
.changePasswordContainer,
.addUsersContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  max-width: 100%;
}

h1 {
  text-align: center;
  color: var(--color-primary);
  text-decoration: solid;
  margin-bottom: 25px;
}
.login-link {
  text-align: center;
  margin: 15px;
  font-size: 14px;
  color: #333;
}
.forgot-password {
  text-align: end;
  margin: 0 15px;
  font-size: 14px;
  color: var(--color-primary);
}
.forgot-password a {
  cursor: pointer;
}
.forgot-password a:hover {
  color: var(--btn-hover);
}
.login-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  color: var(--btn-hover);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.success-message {
  color: green;
  font-size: 14px;
  margin-top: 4px;
}
/*-------------registration from end-------------*/
/*-------------Header of dashboard Start------------------*/
.sidebar .profile-logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.sidebar .profile-name {
  font-size: 18px;
  color: #333;
  margin-left: 10px;
}

.notification-sidebar {
  position: relative;
}

.notification-count {
  position: absolute;
  top: 12px;
  right: 190px;
  background-color: red;
  color: white;
  font-size: 8px;
  padding: 2px 6px;
  border-radius: 100%;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  /* display: none; */
}

.main-content {
  margin-left: 220px;
  margin-top: 98px;
  display: flex;
  padding: 30px;
  background-color: var(--color-background);
  min-height: 100vh;
}
.sidebar {
  margin-top: 0px;
  position: fixed;
}
/* Container that holds balance and name */
.balance-and-name {
  background: var(--color-gradient);
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 500px;
}

/* Headings and text styles */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.balance h2,
.name h2,
.role h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 8px;
  text-align: left;
}

.balance p {
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin-top: 0;
  text-align: left;
}

/* Section spacing */
.balance,
.name,
.accountNumber {
  margin-bottom: 20px;
}

.accountNumber {
  margin-bottom: 0;
}
/* Debit card design */
.debit-card {
  background-color: #e0e0e0;
  width: 105%;
  height: 230px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}
.debit-card:hover {
  transform: scale(1.05);
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chip {
  width: 40px;
  height: 30px;
  background: linear-gradient(135deg, #ffd700 60%, #ff8c00); /* Gold gradient */
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.card-type-text {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-text);
}

.card-middle {
  text-align: center;
}

.card-number {
  font-size: 1.6em;
  letter-spacing: 4px;
  color: #222;
  margin-bottom: 10px;
}

.expiry-date {
  font-size: 0.9em;
  color: #555;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-holder {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #333;
}

.bank-logo {
  font-size: 1em;
  font-weight: bold;
  color: var(--color-primary);
}

.transactions-main,
.all-users {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  margin: 0 20px 40px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  width: 160%;
  height: 500px;
}
.transactions-title,
.all-users-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}
.chart-section {
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.chart-section canvas {
  max-width: 400px;
  max-height: 350px;
  min-width: 300px;
  min-height: 300px;
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  display: block;
}
.bottom-section {
  margin-left: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.deposits,
.withdrawals,
.transfers {
  background: wheat;
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  width: 300px;
  max-width: 500px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.deposits:hover,
.withdrawals:hover,
.transfers:hover {
  background: var(--color-gradient);
  /* transform: scale(1.05); */
}

/* Style for the search bar container */
.search-container {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 25px;
  padding: 8px 15px;
  margin-left: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 40px;
  transition: all 0.3s ease;
  border: 1px solid var(--color-primary);
}

.search-container:focus-within {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: var(--color-secondary);
}

/* Style for the search icon */
.search-icon {
  margin-right: 10px;
  color: white;
}

/* Style for the search input */
#search {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: var(--color-primary);
  color: var(--color-text);
  width: 20px;
}

#search::placeholder {
  color: #bbb;
}

/* Table for recent transactions */
/* --- Transactions Section Styling --- */
.down-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 240px;
}
.transactions,
.all-users {
  width: 1000px;
  height: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.transactions .button {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transactions .button .btn {
  width: 980px;
}

.transactions-title h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-left: 4px solid var(--color-primary);
  padding-left: 10px;
}

.transactions-controls,
.all-users-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.transactions-controls input,
.transactions-controls select,
.all-users-control input {
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: 0.2s;
}

.transactions-controls input:focus,
.transactions-controls select:focus,
.all-users-control input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 5px rgba(0, 119, 204, 0.3);
}

/* --- Table Styling --- */

.transactions-table-div,
.profile-table-div,
.all-users-table-div {
  overflow-x: auto;
  height: 100%;
}

.transactions-table,
.profile-table,
.comparison-table,
.all-users-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fdfdfd;
  border-radius: 12px;
  overflow: hidden;
}

.transactions-table th,
.transactions-table td,
.profile-table th,
.profile-table td,
.comparison-table th,
.comparison-table td,
.all-users-table th,
.all-users-table td {
  padding: 14px 16px;
  text-align: left;
  font-size: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.transactions-table th,
.all-users-table th {
  background-color: var(--color-primary);
  color: white;
}

.transactions-table tr:nth-child(even),
.all-users-table tr:nth-child(even) {
  background-color: #fff4e4;
}

.transactions-table tr:hover,
.all-users-table tr:hover {
  background-color: #ffcc88;
}

.transactions-table td,
.all-users-table td {
  color: #000000;
}

.transactions-table .completed {
  color: green;
  font-weight: 600;
}

.transactions-table .pending {
  color: red;
  font-weight: 600;
}

/* profile style */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 98px 20px 20px 240px;
}
.profile-contrainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
  max-width: 100%;
}
.profile-title {
  border-left: 4px solid var(--color-primary);
  border-right: 4px solid var(--color-primary);
}
.profile-title h1 {
  font-size: 50px;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-left: 10px;
}
.profile-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #000000;
  margin: 2px;
  align-content: center;
}
.profile-table tr:nth-child(even) {
  background-color: rgb(239, 239, 239);
}
.profile-table td {
  color: #000000;
  font-size: var(--font-size-base);
}
.profile-table-div .profile-table tr td .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-table-div .profile-table tr td .profile-img {
  padding: 10px 20px;
  border-radius: 50%;
}
/* Center the buttons within the td without affecting other content */
.profile-table-div .profile-table tr td .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-table-div .profile-table tr td button {
  padding: 10px 20px;
}
/* Margin Left for sidebar */
.edit-profile,
.deposits-main,
.bill-pay-main,
.loan,
.changePassword {
  margin-left: 250px;
}

/* interest Calculator */
/* Interest Calculator Section */
.calculator {
  background-color: #ffffff;
  padding: 80px 20px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.calculator h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

/* Tabs */
.calculator-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.tab-button {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tab-button:hover,
.tab-button.active {
  background-color: orangered;
  color: white;
}

/* Tab Content */
.calculator-content {
  max-width: 800px;
  margin: auto;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Forms */
.calculator form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.calculator input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.calculator button {
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.calculator button:hover {
  background-color: black;
}

.calculator p {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

/* Features Section */
.features {
  background-color: #f9f9f9;
  padding: 80px 20px;
  text-align: center;
}
.features h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.features-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature-item {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(2, 2, 2, 0.05);
  transition: transform 0.3s ease;
}
.feature-item:hover {
  transform: translateY(-8px);
}
.feature-item i {
  font-size: 40px;
  margin-bottom: 20px;
  color: #007bff;
}
.feature-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Testimonials Section */
.testimonials {
  background-color: #fff;
  padding: 80px 20px;
  text-align: center;
}
.testimonials h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.testimonial {
  background: #f1f1f1;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}
.testimonial p {
  font-style: italic;
  font-size: 16px;
}
.testimonial h4 {
  margin-top: 15px;
  font-weight: 600;
}
/* contcat section */

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.contact-info h4 {
  color: orangered;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info h2 {
  font-weight: 900;
  margin: 10px 0;
}

.contact-info p {
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}

.contact-info .info i {
  color: orangered;
  margin-right: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

input,
textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* Terms CSS */
.terms-container {
  max-width: 850px;
  margin: 120px auto 60px auto;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.terms-container h1 {
  color: var(--color-primary);
  font-size: 28px;
}

.terms-container h2 {
  color: #333;
  margin-top: 30px;
}

.terms-container p {
  margin: 12px 0;
  line-height: 1.6;
}

.terms-container a {
  color: #0a4d8c;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}

.terms-container ul {
  margin-left: 20px;
}

/* notification start */

.notification-container {
  max-width: 800px;
  margin: 98px 20px 20px 300px;
  padding: 0 20px;
}

.headings {
  margin-top: 130px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.headings h1 {
  margin: 0;
  color: var(--color-primary);
  font-size: 2em;
}

.notification-box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.notification-box h2 {
  margin: 0 0 20px;
  color: #333;
  font-size: 1.5em;
}

.notification.transaction {
  border-color: #007bff;
  background-color: #e7f3ff;
}

.notification.alert {
  border-color: #dc3545;
  background-color: #f8d7da;
}

.notification.update {
  border-color: #28a745;
  background-color: #d4edda;
}

.notification.read {
  opacity: 0.7;
}

.notification p {
  margin: 5px 0;
  color: #333;
}

.notification .date {
  font-size: 0.9em;
  color: #666;
}

.notification .action {
  font-size: 0.9em;
  color: #007bff;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.notification .action:hover {
  text-decoration: underline;
}

.mark-all {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.mark-all:hover {
  text-decoration: underline;
}

.no-notifications {
  text-align: center;
  color: #666;
  padding: 20px;
}

/* notification End */
/*Card Management Start*/
.card-management {
  margin-left: 220px;
}
.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: #eee;
  border-radius: 4px 4px 0 0;
}
.tab.active {
  background: #fff;
  border-bottom: 2px solid var(--color-primary);
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*Card Management End*/

/* Loan Application  */
.compare-btn {
  background-color: #e67e22;
}

.compare-btn:hover {
  background-color: #d35400;
}

/* Compare Loans */
.loan-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.loan-flex > * {
  flex: 1 1 250px;
  min-width: 250px;
}

.loan-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

.loan-card h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.loan-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* Status Tracker */
.status-timeline {
  position: relative;
  padding: 20px 0;
}

.status-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.status-circle {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  margin-right: 10px;
}

.status-circle.inactive {
  background-color: #ddd;
}

.status-line {
  position: absolute;
  left: 10px;
  top: 30px;
  bottom: 30px;
  width: 2px;
  background-color: #3498db;
}

.e-sign-section {
  margin-top: 30px;
}

/* -------------------User Management Start-------------------- */
.all-users-table {
  margin-top: 10px;
}
.all-users .all-users-table-div .all-users-table .active {
  color: green;
  font-weight: 600;
}

.all-users .all-users-table-div .all-users-table .inactive {
  color: red;
  font-weight: 600;
}
.all-users .all-users-table-div .all-users-table a.edit {
  color: #2563eb;
  margin-right: 5px;
}
.all-users .all-users-table-div .all-users-table a.edit:hover {
  color: #1d4ed8;
  text-decoration: underline;
}
.all-users .all-users-table-div .all-users-table a.delete {
  color: #b91c1c;
  margin-left: 5px;
}
.all-users .all-users-table-div .all-users-table a.delete:hover {
  color: #991b1b;
  text-decoration: underline;
}
.all-users {
  margin-top: 120px;
  margin-left: 250px;
}
.btn-add-user {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 960px;
}
.approve {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

.approve:hover {
  background-color: #059669;
}

.reject {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.reject:hover {
  background-color: #dc2626;
}

/* -------------------Admin dashboard-------------------- */

.admin-card {
  background: #fcd49b; /* faded orange */
  border-radius: 15px;
  padding: 25px;
  color: #2d2d2d;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  width: 280px;
  transition: transform 0.3s ease, background 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: left;
}

.admin-card:hover {
  background: linear-gradient(45deg, #ff9100, #ff4500);
  color: white;
  transform: translateY(-5px);
}

.admin-card i {
  font-size: 24px;
  color: inherit;
}

.admin-card h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.admin-card p {
  font-size: 18px;
  margin: 0;
}
.dashboard-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.atm {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

.atm h3 {
  margin: 0 0 5px;
  color: #0066cc;
}

.atm p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}
.addUsers {
  margin-left: 200px;
}

/* UNauthorized USer Start */
.unauthorized-user {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ua-container {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
/* h1 {
  color: #d9534f;
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
} */
.icon {
  font-size: 48px;
  color: #d9534f;
  margin-bottom: 20px;
}
/* UNauthorized USer End */

.card-intro {
  text-align: center;
}
.card-intro h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.card-intro p {
  font-size: 16px;
  color: #4b5563;
  max-width: 600px;
  margin: 0 auto;
}
.card-types {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card-type {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.card-type:hover {
  transform: translateY(-5px);
}
.card-type i {
  font-size: 40px;
  color: var(--color-secondary);
  margin-bottom: 10px;
}
.card-type h3 {
  font-size: 20px;
  color: var(--color-secondary);
  margin-bottom: 10px;
}
.card-type p {
  font-size: 14px;
  color: #6b7280;
}
.card-benefits {
  background: #e0f2fe;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.card-benefits h2 {
  font-size: 24px;
  color: #1e3a8a;
  margin-bottom: 15px;
}
.card-benefits ul {
  list-style-type: none;
  padding: 0;
}
.card-benefits li {
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-benefits li i {
  color: #22c55e;
}
.setPinInitialcontainer {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
        }
